<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Top Tables</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body class="top-tables">
    <section class="content">
      <h1>Top Tables</h1>
      {{#each tables}}
        {{#if winner}}
        <div class="winner">
        {{else}}
        <div style="width: {{perc}}%;">
        {{/if}}
          <span class="name">{{name}}</span>
          <span class="details">
            <span class="total">{{amount}}</span>
            <span class="diff">{{diff}}</span>
          </span>
        </div>
      {{/each}}
      <aside {{#if hideAside}}style="display: none;"{{/if}}>The table that raises the most for the Academy this year will win a free table registration to the 2021 auction and each person at the table gets an individual prize pack</aside>
    </section>
    <script src="utils.js"></script>
    <script src="top-tables.js"></script>
  </body>
</html>
